.page-content {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    .example-form {
        width: 100%;
        left: auto;
        margin: auto;
    }
    
    .example-full-width {
        width: 100%;
    }
}